<% if user_signed_in? %>
  <li class="list-group-item">
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
  <li class="list-group-item">
  <%= link_to('Login', new_user_session_path) %>  
  </li>
<% end %>