<div class="container">
  <div class="row">
    <div class="col-lg-6 landing-right text-center d-flex align-items-center">
      <div>
        <div class="form-signup box">
          <h5 class="light-color"><strong>Tiket!</strong></h5>
          <hr />
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.text_field :name, required: true, autofocus: true, placeholder: "Your name", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :gender, class: "form-control"%>
              <%= f.select :is_female, %w{ Male Female}, {include_blank: false}, {class: "btn btn-primary dropdown-toggle"}%>
            </div>
            <div class="form-group">
              <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "form-control" %>
            </div>
            <div class="actions">
              <%= f.submit "Register", class: "btn btn-primary" %>
            </div>
          <% end %>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
