<% if defined?(resource) and resource.errors.any? %>
  <script type="text/javascript">
    <% resource.errors.full_messages.each do |m| %>
      toastr.error('<%= m %>')
    <% end %>
  </script>
<% end %>
