<% if event_attendable?(event) %>
  <% if attending_event?(current_user, event, participation) %>
    <%= form_for event, :url => deregister_events_path(event) do |f| %>
      <%= f.submit 'Unattend', class: 'btn btn-danger' %>
    <% end %>
  <% elsif current_user.present? %>
    <%= form_for event, :url => register_events_path(event) do |f| %>
      <%= f.submit show_price(event, current_user), class: 'btn btn-success btn-sm' %>
    <% end %>
  <% end %>
<% else %>
  <%= button_to 'Event Expired' , {}, :disabled => true %>
<% end %>
