<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-md-auto">
        <div class="tiket-text-logo">
          <h1> &nbsp;Tiket!&nbsp;</h1>
        </div>
      </ul>
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
          <%= render 'devise/menu/home_items' %>
        </li>
        <li class="nav-item">
          <%= render 'devise/menu/login_items' %>
        </li>
        <li class="nav-item">
          <%= render 'devise/menu/registration_items' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
