<script type="text/javascript">
  <% flash.each do |key, value| %>
  <% type = key.to_s.gsub("alert", "error").gsub("notice", "success") %>
    toastr.<%= type %>("<%= value %>");
  <% end %>
</script>
