<div class="container">
  <div class="row">
    <div class="event-box">
      <br/>
      <h1>Events</h1>
      <br/>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Ticket Fee</th>
            <% if current_user.present?%>
              <th>Attend/Unattend</th>
            <% end %>
            <th>Participants</th>
          </tr>
        </thead>
        <tbody>
          <% @all_events.each do |event| %>
            <tr>
              <td><%= event.name =%></td>
              <td><%= event.event_date =%></td>
              <td><%= event.ticket_fee =%></td>
              <%if current_user.present?%>
                <td>
                  <div class="container">
                    <% _, participation = participation(current_user, event) %>
                    <%= render 'shared/event_attendance', event: event , participation: participation%>
                  </div>
                </td>
              <% end %>
              <div class="actions">
                <td><%= link_to "View Users", participants_events_path(event), class: 'btn btn-primary btn-sm'%></td>
              </div>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>
  </div>
</div>
