<html>
  <body>
    <br/>
    <br/>
    <div class="event-box">
      <div class="container">
        <%= render 'shared/event_attendance', event: @event , participation: @participation %>
      </div>
      <br/>
      <br/>
      <table class="table table-bordered table-hover" border="1" cellspacing>
        <thead>
          <tr>
            <th>Name</th>
            <th>Gender</th>
          </tr>
        </thead>
        <tbody>
          <% @event.users.each do |user| %>
            <% next if user == current_user%>
            <tr>
              <td><%= user.name =%></td>
              <td><%= user.is_female? ? 'Female' : 'Male' =%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>
  </body>
</html>
