@import "bootstrap";
@import "toastr";

body {
  background-color: #fafafa;
  font-size: 14px;
  color: #262626;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
}

.nav-item:not(first-child) {
  margin-left: 30px;
}

a:link {
  text-decoration: none;
}

.list-group-item {
  background-color: white;
  border-radius: 5px;
}

.navbar {
  background-color: linear-gradient(90deg, rgba(217, 38, 24, 1) 17%, rgba(216, 35, 35, 1) 26%, rgba(210, 24, 79, 1) 62%, rgba(255, 0, 84, 1) 100%);
  border-bottom: 8px solid purple;
  border-radius: 45px;
  height: 100px;
}

.row {
  border-radius: 5px 85px 5px 85px;
  margin-right: 8%;
  margin-left: 8%;
  margin-bottom: 8%;
  margin-top: 6%;
  background: white;
}

.landing-right {

  .form-login,
  .form-signup {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 2px solid purple;
    padding: 20px;
    margin-top: 30%;

    form {
      padding: 0 40px;

      .btn-primary {
        width: 100%;
        line-height: 14px;
        font-size: 14px;
        font-weight: 600;
      }

      .form-check-label {
        padding: 0;
        font-size: 15px;
        color: #262626;
      }
    }
  }
}

.landing-right {
  margin-left: 22%;
}

.box {
  background-color: #fff;
  border-radius: 25px;
  border: 2px solid white;
  padding: 20px;
  width: 100%;
  margin: 15%;
}

.tiket-text-logo {
  border: 1px solid black;
  border-radius: 5px 5px 85px 5px;
  width: 100%;
  margin: 50%;
  padding: 2%;
  background: yellow;
}

.tiket-text-logo h1 {
  color: red;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 15px;
  line-height: 1;
  text-align: center;
  padding: 1%;
}

.event-box {
  background-color: #fff;
  border-radius: 25px;
  border: 2px solid purple;
  padding: 20px 10px 10px 20px;
  width: 100%;
  margin: 5%;
}

.light-color {
  color: #999;
}


.common-btn {
  height: 28px;
  line-height: 24px;
  padding: 0 24px;
  border-color: #dbdbdb;
  font-size: 14px
}