<!DOCTYPE html>
<html>
  <head>
    <title>Tiket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%=render 'shared/navbar'%>
    <div class="container">
      <%= yield %>
    </div>
    <% if flash.any? %>
      <%=render 'shared/toaster'%>
    <% end %>
  </body>
</html>
